@media screen and (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
  main > section{
    margin-top: 30px;
  }
  .banner > div > div,
  .tour-container {
    flex-direction: column;
  }
  .destination-cards{
    grid-template-columns: 1fr;
  }
  .section-title{
    font-size: 1.25rem;
    margin-bottom: 16px;
  }
  .section-para
  ,.banner-des,
  .tour-info > ul li,
  .tour-des {
    font-size: 0.8rem;
    line-height: 24px;
  }
  .section-para,
  .tour-info > ul,
  .tour-des{
    margin-bottom: 16px;
  }
  nav > ul > li {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  nav > div {
    gap: 5px;
  }
  nav > div > img {
    width: 30px;
    height: 30px;
  }
  nav > div > h4 {
    color: var(--heading-color);
    font-size: 1.4rem;
    font-weight: 800;
  }

  .banner {
    padding: 32px 24px;
    margin-top: 20px;
  }
  .banner > div > div {
    gap: 12px;
  }
  .banner > div > div input,
  .banner > div > div select,
  .banner > div > div button {
    width: 100%;
  }
  .banner-title {
    font-size: 1.9rem;
    margin-bottom: 12px;
  }
  .banner-des {
    font-size: 0.8rem;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .tour-container{
    padding: 0 0;
    gap: 24px;
  }
  .tour-image img{
    width: 100%;
  }
  .tour-info > ul{
    gap: 16px;
  }

  .destination-cards{
    gap: 16px;
  }
  .destination-card:nth-child(1),
  .destination-card:nth-child(2),
  .destination-card:nth-child(3),
  .destination-card:nth-child(4),
  .destination-card:nth-child(5),
  .destination-card:nth-child(6),
  .destination-card:nth-child(7){
    grid-column: auto;
  }
  .destination-card > img{
    height: 220px;
  }
  .destination .section-para{
  margin-bottom: 24px;
}
.destination-card > strong{
  font-size: 1.25rem;
  font-weight: 700;
}
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    padding: 0 24px;
  }
  .banner > div > div,
  .tour-container {
    flex-direction: column;
  }
  .destination-cards{
    grid-template-columns: repeat(2, 1fr);
  }
  nav > ul > li {
    display: none;
  }
  .menu-icon {
    display: block;
  }

  .banner {
    padding: 32px 24px;
  }
  .banner > div > div {
    gap: 12px;
  }
  .banner > div > div input,
  .banner > div > div select,
  .banner > div > div button {
    width: 100%;
  }
  .banner-title {
    font-size: 2.5rem;
    margin-bottom: 12px;
  }
  .banner-des {
    font-size: 0.9rem;
    margin-bottom: 24px;
  }
  .tour-image img{
    width: 100%;
  }

  .destination-card:nth-child(1),
  .destination-card:nth-child(2),
  .destination-card:nth-child(3),
  .destination-card:nth-child(4),
  .destination-card:nth-child(5),
  .destination-card:nth-child(6),
  .destination-card:nth-child(7){
    grid-column: auto;
  }
  .destination-card > img{
    height: 220px;
  }
  .destination-card > strong{
  font-size: 1.5rem;
}
}
