@media screen and (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
  main > section,
  footer {
    margin-top: 30px;
  }
  .banner > div > div,
  .tour-container,
  .newsletter {
    flex-direction: column;
  }
  .destination-cards {
    grid-template-columns: 1fr;
  }
  .section-title {
    font-size: 1.25rem;
    margin-bottom: 16px;
  }
  .section-para,
  .banner-des,
  .tour-info > ul li,
  .tour-des {
    font-size: 0.8rem;
    line-height: 24px;
  }
  .section-para,
  .tour-info > ul,
  .tour-des {
    margin-bottom: 16px;
  }
  nav > ul > li {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  nav > div {
    gap: 5px;
  }
  nav > div > img {
    width: 30px;
    height: 30px;
  }
  nav > div > h4 {
    color: var(--heading-color);
    font-size: 1.4rem;
    font-weight: 800;
  }

  .banner {
    padding: 32px 24px;
    margin-top: 20px;
  }
  .banner > div > div {
    gap: 12px;
  }
  .banner > div > div input,
  .banner > div > div select,
  .banner > div > div button {
    width: 100%;
  }
  .banner-title {
    font-size: 1.9rem;
    margin-bottom: 12px;
  }
  .banner-des {
    font-size: 0.8rem;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .tour-container {
    padding: 0 0;
    gap: 24px;
  }
  .tour-image img {
    width: 100%;
  }
  .tour-info > ul {
    gap: 16px;
  }

  .destination-cards {
    gap: 16px;
  }
  .destination-card:nth-child(1),
  .destination-card:nth-child(2),
  .destination-card:nth-child(3),
  .destination-card:nth-child(4),
  .destination-card:nth-child(5),
  .destination-card:nth-child(6),
  .destination-card:nth-child(7) {
    grid-column: auto;
  }
  .destination-card > img {
    height: 220px;
  }
  .destination .section-para,
  .why-choose .section-para,
  .discount .section-para {
    margin-bottom: 24px;
  }
  .destination-card > strong {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .choose-card {
    width: 100%;
  }
  .choose-card > img {
    width: 48px;
    margin-bottom: 16px;
  }
  .choose-card > h4 {
    font-size: 1.25rem;
  }
  .choose-card > p {
    font-size: 0.875rem;
    line-height: 24px;
  }

  #dis-1,
  #dis-2,
  #dis-3 {
    justify-content: center;
    align-items: end;
    padding: 16px;
  }
  #dis-1 > div > div > ul,
  #dis-2 > div > div > ul,
  #dis-3 > div > div > ul {
    flex-wrap: wrap;
    gap: 15px;
  }
  .discount-container > div {
    padding: 24px;
  }
  .discount-container > div > div > ul {
    margin-bottom: 16px;
  }
  .discount-container > div > div > h3 {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }
  .discount-container > div > div > p {
    font-size: 0.875rem;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .discount-container > div > div > strong {
    font-size: 1rem;
    font-weight: 800;
    color: var(--text-orange);
    margin-bottom: 16px;
    display: block;
  }
  #dis-3 {
    margin-bottom: 24px;
  }

  .mountain {
    flex-direction: column;
  }
  .mountain-image > img {
    width: 100%;
  }
  .mountain-info .section-title {
    max-width: 248px;
    line-height: 30px;
  }
  .mountain-info .section-para,
  .mountain-info > ul > li {
    max-width: 335px;
    line-height: 24px;
  }
  .mountain-info > ul > li {
    font-size: 0.875rem;
  }

  .newsletter {
    gap: 16px;
  }
  .newsletter-form {
    padding: 24px;
  }
  .newsletter-image > div {
    padding: 15px 25px;
    transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    bottom: 0;
    right: 2%;
  }
  .newsletter-image > div > span {
    font-size: 0.99rem;
  }
  .newsletter-image > div > strong {
    font-size: 1.2rem;
  }
  .newsletter-image > img {
    width: 100%;
  }

  footer {
    padding: 32px 0;
  }
  .footer-info {
    margin: 0 16px;
    margin-bottom: 24px;
  }
  .footer-logo img {
  width: 32px;
  height: 30px;
}
  .footer-logo > h4 {
    font-size: 1.375rem;
  }
  .footer-info > p {
    max-width: 310px;
    font-size: .875rem;
  line-height: 24px;
  margin-bottom: 16px;
  }
  .footer-icons > i{
  font-size: 1rem;
}
.footer-icons {
  margin-bottom: 24px;
}
footer > p{
  font-size: .875rem;
}
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    padding: 0 24px;
  }
  main > section,
  footer {
    margin-top: 60px;
  }
  .banner > div > div,
  .tour-container,
  .newsletter {
    flex-direction: column;
  }
  .destination-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  nav > ul > li {
    display: none;
  }
  .menu-icon {
    display: block;
  }

  .banner {
    padding: 32px 24px;
  }
  .banner > div > div {
    gap: 12px;
  }
  .banner > div > div input,
  .banner > div > div select,
  .banner > div > div button {
    width: 100%;
  }
  .banner-title {
    font-size: 2.5rem;
    margin-bottom: 12px;
  }
  .banner-des {
    font-size: 0.9rem;
    margin-bottom: 24px;
  }
  .tour-image img {
    width: 100%;
  }

  .destination-card:nth-child(1),
  .destination-card:nth-child(2),
  .destination-card:nth-child(3),
  .destination-card:nth-child(4),
  .destination-card:nth-child(5),
  .destination-card:nth-child(6),
  .destination-card:nth-child(7) {
    grid-column: auto;
  }
  .destination-card > img {
    height: 220px;
  }
  .destination-card > strong {
    font-size: 1.5rem;
  }

  #dis-1,
  #dis-2,
  #dis-3 {
    justify-content: center;
    align-items: end;
    padding: 16px;
  }
  #dis-1 > div > div > ul,
  #dis-2 > div > div > ul,
  #dis-3 > div > div > ul {
    flex-wrap: wrap;
    gap: 15px;
  }
  .discount-container > div {
    padding: 24px;
  }

  .mountain {
    flex-direction: column;
  }
  .mountain-image > img {
    width: 100%;
  }
  .newsletter {
    gap: 16px;
  }
  .newsletter-form {
    padding: 24px;
  }
  .newsletter-image > div {
    padding: 15px 25px;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    bottom: 0;
    right: 2%;
  }
  .newsletter-image > div > span {
    font-size: 0.99rem;
  }
  .newsletter-image > div > strong {
    font-size: 1.2rem;
  }
  .newsletter-image > img {
    width: 100%;
  }

  footer {
    padding: 32px 0;
  }
  .footer-info {
    margin: 0 16px;
    margin-bottom: 24px;
  }
  .footer-logo img {
  width: 32px;
  height: 30px;
}
  .footer-logo > h4 {
    font-size: 1.375rem;
  }
  .footer-info > p {
    max-width: 400px;
    font-size: .875rem;
  line-height: 24px;
  margin-bottom: 16px;
  }
  .footer-icons > i{
  font-size: 1rem;
}
.footer-icons {
  margin-bottom: 24px;
}
footer > p{
  font-size: .875rem;
}
}
