@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* shared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

html{
    font-size: 16px;
}

:root {
    --heading-color: #131318;
    --text-white: #FFFFFF;
    --text-orange: #FF5400;
    --text-placeholder: rgba(19, 19, 24, 0.5);
    --nav-link-color: #424247;
    --section-para-color: rgba(19, 19, 24, 0.7);
    --tour-des-color: #5A5A5D;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

main > section {
  margin-top: 100px;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--heading-color);
  margin-bottom: 24px;
}

.section-para {
  max-width: 643px;
  font-size: 1rem;
  color: var(--section-para-color);
  line-height: 26px;
  margin-bottom: 24px;
}

.primary-btn{
  background-color: var(--text-orange);
  color: var(--text-white);
  padding: 14px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

/* main styles */

/* header styles */
nav {
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
nav > div{
    gap: 16px;
    align-items: center;
}
nav > div > img {
  width: 48px;
  height: 48px;
}
nav > div > h4{
    color: var(--heading-color);
    font-size: 2.25rem;
    font-weight: 800;
}
nav > div > h4 span{
    color: var(--text-orange);
}

nav > ul {
  gap: 44px;
  align-items: center;
}
nav > ul > li {
  list-style: none;
}
nav > ul > li > a {
  text-decoration: none;
  color: var(--nav-link-color);
  font-size: 1rem;
  font-weight: 600;
}
nav > ul li:first-child a{
    color: var(--text-orange);
}
.menu-icon{
    display: none;
    font-size: 1.4rem;
    color: var(--heading-color);
    cursor: pointer;
}

/* banner section styles */
.banner {
  background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.625) 0%, rgba(19, 19, 24, 0) 100%), url(../assets/banner.png);
  width: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin-top: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-title{
  font-size: 4rem;
  font-weight: 800;
  color: var(--text-white);
  margin-bottom: 24px;
}
.banner-des{
  max-width: 676px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 26px;
  color: var(--text-white);
  margin-bottom: 48px;
}
.banner > div > div{
  background-color: rgba(255, 255, 255, 0.3);
  padding: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  gap: 24px;
}
.banner > div > div input, .banner > div > div select{
  width: 174px;
  padding: 16px;
  border: none;
  outline: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.banner > div > div input::placeholder, .banner > div > div select{
  color: var(--text-placeholder);
}
.banner > div > div select option{
  color: var(--heading-color);
}
.banner > div > div select{
  cursor: pointer;
}
.banner > div > div button{
  width: 174px;
}

/* tour section */
.tour-container{
  align-items: center;
  gap: 53px;
}
.tour-info > ul {
  max-width: 500px;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  padding-left: 16px;
}
.tour-info > ul li{
  font-size: 1rem;
  line-height: 26px;
  color: var(--section-para-color);
}
.tour-des{
  max-width: 560px;
  font-size: 1rem;
  line-height: 26px;
  color: var(--tour-des-color);
  margin-bottom: 32px;
}
.tour-info button{
  padding: 14px 35px;
}

/* destination section */
.destination{
  text-align: center;
}
.destination .section-para{
  margin: auto;
  margin-bottom: 48px;
}
.destination-cards{
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}
.destination-card{
  position: relative;
}
.destination-card > img{
  width: 100%;
  height: 300px;
}
.destination-card:nth-child(1),
.destination-card:nth-child(2){
  grid-column: span 6;
}
.destination-card:nth-child(3){
  grid-column: span 4;
}
.destination-card:nth-child(4){
  grid-column: span 5;
}
.destination-card:nth-child(5){
  grid-column: span 3;
}
.destination-card:nth-child(6){
  grid-column: span 5;
}
.destination-card:nth-child(7){
  grid-column: span 7;
}
.destination-card > strong{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.destination-card > strong{
  font-size: 1.75rem;
  font-weight: 800;
  color: var(--text-white);
}