/* shared styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.section-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.section-para{
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}